## Pandas Lab

In this assignment, we'll be looking for outliers in petal and sepal length amongst the iris dataset. The iris dataset is a classic in machine learning and has petal and sepal data for different iris species. Let's get started.

In [1]:
# importing modules

from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
# We can load in the iris dataset directly from sklearn.

iris = datasets.load_iris()

In [3]:
# The petal and sepal data is stored in "iris.data". Note that it's in a 2-D array.
# The columns correspond to ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [4]:
# The species data is stored in "iris.target". 

iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Part 1)
a) 10 pts

b) 20 pts

In [33]:
'''
a) Create a pandas dataframe called 'data' that combines the petal and sepal data with species information 
The five columns should be 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', and 'species'
'''

# your code here
data = pd.DataFrame(iris.data, columns = ['sepal_length','sepal_width','petal_length','petal_width'])
target = pd.DataFrame(iris.target,columns = ['species'])
data = pd.concat([data, target], axis=1)

In [ ]:
'''
END OF SECTION
'''

In [34]:
'''
b) Notice how the 'species' column is just numbers. The names of the species are stored in a list called target_names.
Replace the species number with the corresponding name from the target_names list.
HINT: We can use the df.replace() function with a map dictionary.
'''

# your code here
species_map = [  data['species'] == 0,
                 data['species'] == 1,
                 data['species'] == 2 ]
target_names = ['setosa','versicolor','virginica']
data['species'] = np.select(species_map,target_names,'oth')

In [36]:
data['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [35]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert data['species'][10] == 'setosa'
assert data['species'][100] == 'virginica'
assert data['species'][75] == 'versicolor'
### END HIDDEN TEST

## PART 2
a) 5 pts

b) 25 pts

c) 10 pts

Our goal is to find outliers in the data. We want to know which rows have length/width ratios that deviate far from the avg. value of its species.

In [37]:
'''
a) First, we have to create two new columns, 'sepal_length/width'
and 'petal length/width' to get a sense of the ratios. Create these columns in our 'data' dataframe.
'''

# your code here
data['sepal_length/width'] = data['sepal_length'] / data['sepal_width']
data['petal_length/width'] = data['petal_length'] / data['petal_width']

In [38]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert data['sepal_length/width'][5] == 1.3846153846153848
assert data['petal_length/width'][5] == 4.25
### END HIDDEN TEST

In [42]:
'''
b) Now, use the transform function to find the 'mean_sepal_length/width'
and the 'mean_petal_length/width' for each species. You should create these columns
in the 'data' dataframe.
'''

# your code here
mn_sepal = data.groupby(['species'])['sepal_length/width'].mean() 
mn_petal = data.groupby(['species'])['petal_length/width'].mean()
print(mn_sepal)
print(mn_petal)

species
setosa        1.470188
versicolor    2.160402
virginica     2.230453
Name: sepal_length/width, dtype: float64
species
setosa        6.908000
versicolor    3.242837
virginica     2.780662
Name: petal_length/width, dtype: float64

In [47]:
mn_sepal = pd.DataFrame(mn_sepal)
mn_petal = pd.DataFrame(mn_petal)

In [49]:
mn_sepal

            sepal_length/width
species
setosa                1.470188
versicolor            2.160402
virginica             2.230453

In [48]:
data.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length/width,petal_length/width
0,5.1,3.5,1.4,0.2,setosa,1.457143,7.0
1,4.9,3.0,1.4,0.2,setosa,1.633333,7.0
2,4.7,3.2,1.3,0.2,setosa,1.468750,6.5
3,4.6,3.1,1.5,0.2,setosa,1.483871,7.5
4,5.0,3.6,1.4,0.2,setosa,1.388889,7.0

In [51]:
data = data.join(mn_sepal, on='species', how='left', rsuffix='_mean')

In [53]:
data = data.join(mn_petal, on='species', how='left', rsuffix='_mean')

In [56]:
data = data.rename(columns={"sepal_length/width_mean": "mean_sepal_length/width", "petal_length/width_mean": "mean_petal_length/width"})

In [57]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert data['mean_sepal_length/width'][5] == 1.4701876810227483
assert data['mean_petal_length/width'][5] == 6.9079999999999995
### END HIDDEN TEST

In [58]:
'''
c) Find the squared difference between each row's length/width value and the average of its species.
Create two new columns titled 'sq_diff_sepal_length/width' and ''sq_diff_petal_length/width'. 
HINT: Use the function np.square()
'''

# your code here
data['sq_diff_sepal_length/width'] = np.square(data['sepal_length/width'] - data['mean_sepal_length/width'])
data['sq_diff_petal_length/width'] = np.square(data['petal_length/width'] - data['mean_petal_length/width'])

In [59]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert data['sq_diff_sepal_length/width'][5] == 0.0073226179124296804
assert data['sq_diff_petal_length/width'][5] == 7.064963999999997
### END HIDDEN TEST

## PART 3
a) 15 pts

b) 15 pts

In [71]:
'''
a) Create a new dataframe called 'outliers_sepal' and 'outliers_petal' with the top 20 values that deviate most.
HINT: Use the sort_values() function.
'''

# your code here
outliers_sepal = data.sort_values(by = 'sq_diff_sepal_length/width',ascending=False).head(20)
outliers_petal = data.sort_values(by = 'sq_diff_petal_length/width',ascending=False).head(20)

In [72]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert outliers_sepal.iloc[0, 1] == 2.6
assert outliers_petal.iloc[0, 1] == 4.1
### END HIDDEN TEST

In [73]:
'''
b) Do any of the rows overlap? Create a list called 'outliers' to store the index numbers of any overlapping rows.
HINT: Use list comprehension.
'''

# your code here
outliers = [x for x in outliers_petal.index.values if x in outliers_sepal.index.values]

In [ ]:
'''
END OF SECTION
'''

### BEGIN HIDDEN TEST
assert outliers == [41]
### END HIDDEN TEST